body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#map {
  position: relative;
  top: -250px;
  left: -70px;
  height: 0px;
  width: 0px;
}

td {
  position: absolute;
  width: 100px;
  height: 100px;
}

#creatures {
  left: 33px;
  top: 30px;
}

table {
  position: absolute;
}

tbody {
  position: relative;
  left: 198px;
}

.player {
  background-image: url("../svg/knight.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.floor {
  /* width: 100px;
  height: 100px; */
  background-image: url("../resources/grass.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}

tr {
  position: absolute;
  width: 0px;
  height: 0px;
}

.rowGrounds1 {
  top: 27px;
  left: -48px;
}

.rowGrounds2 {
  top: 52px;
  left: -98px;
}

.rowGrounds3 {
  top: 77px;
  left: -148px;
}

.rowGrounds4 {
  top: 102px;
  left: -198px;
}

.rowGrounds5 {
  top: 127px;
  left: -248px;
}

.rowGrounds6 {
  top: 152px;
  left: -298px;
}

.rowGrounds7 {
  top: 177px;
  left: -348px;
}

.rowGrounds8 {
  top: 202px;
  left: -398px;
}

.tile {
  /* width: 100px;
  height: 100px; */
  background-image: url("../resources/grass.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 0;
  position: absolute;
}

.cellGrounds1 {
  top: 25px;
  left: 50px;
}

.cellGrounds2 {
  top: 50px;
  left: 100px;
}

.cellGrounds3 {
  top: 75px;
  left: 150px;
}

.cellGrounds4 {
  top: 100px;
  left: 200px;
}

.cellGrounds5 {
  top: 125px;
  left: 250px;
}

.cellGrounds6 {
  top: 150px;
  left: 300px;
}

.cellGrounds7 {
  top: 175px;
  left: 350px;
}

.cellGrounds8 {
  top: 200px;
  left: 400px;
}

.step {
  /* width: 100px;
  height: 100px; */
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 0;
  position: absolute;
  background-image : url("../resources/step.png");
}

.cube {
  /* width: 100px;
  height: 100px; */
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 0;
  position: absolute;
  background-image : url("../resources/cube.png");
}